In [1]:
import functions, dataframe_cleaning
functions.import_all(globals())
df = dataframe_cleaning.clean(df)

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,...,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,waterfront_False,waterfront_True
0,7129300520,735519,221900.0,3,1.00,1180,5650,1.0,0.0,3,...,1180,0.0,1955,98178,47.5112,-122.257,1340,5650,0,0
1,6414100192,735576,538000.0,3,2.25,2570,7242,2.0,0.0,3,...,2170,400.0,1951,98125,47.7210,-122.319,1690,7639,1,0
2,5631500400,735654,180000.0,2,1.00,770,10000,1.0,0.0,3,...,770,0.0,1933,98028,47.7379,-122.233,2720,8062,1,0
3,2487200875,735576,604000.0,4,3.00,1960,5000,1.0,0.0,5,...,1050,910.0,1965,98136,47.5208,-122.393,1360,5000,1,0
4,1954400510,735647,510000.0,3,2.00,1680,8080,1.0,0.0,3,...,1680,0.0,1987,98074,47.6168,-122.045,1800,7503,1,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id                  21597 non-null int64
date                21597 non-null int64
price               21597 non-null float64
bedrooms            21597 non-null int64
bathrooms           21597 non-null float64
sqft_living         21597 non-null int64
sqft_lot            21597 non-null int64
floors              21597 non-null float64
view                21597 non-null float64
condition           21597 non-null int64
grade               21597 non-null int64
sqft_above          21597 non-null int64
sqft_basement       21597 non-null float64
yr_built            21597 non-null int64
zipcode             21597 non-null int64
lat                 21597 non-null float64
long                21597 non-null float64
sqft_living15       21597 non-null int64
sqft_lot15          21597 non-null int64
waterfront_False    21597 non-null uint8
waterfront_True     21597 non-null uint8
dtypes: float64(7), int64(12), uint8(2)
memory usage: 3.2 MB

In [25]:
shaped_data = np.array(df.yr_built.head()).reshape(-1,1)

In [26]:
import sklearn.preprocessing as prprc

data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = prprc.MinMaxScaler()
scaler.fit(shaped_data)
prprc.MinMaxScaler(copy=True, feature_range=(0, 1))
print(scaler.data_max_)
print(scaler.transform(shaped_data))

[1987.]
[[0.40740741]
 [0.33333333]
 [0.        ]
 [0.59259259]
 [1.        ]]

/Users/noah/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [ ]:
def min_max_scaled_column(col):
    shaped_col =

In [21]:
prprc.MinMaxScaler().fit((np.array(df.yr_built).reshape(-1,1)))

/Users/noah/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

array([[1955],
       [1951],
       [1933],
       [1965],
       [1987]])