In [1]:
import initx
initx.run(globals())

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,...,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,waterfront_False,waterfront_True
0,0.720103,0.420513,221900.0,0.06250,0.066667,0.061503,0.003108,0.0,0.0,0.5,...,0.089602,0.000000,0.478261,0.893939,0.571498,0.217608,0.161934,0.005742,0,0
1,0.647853,0.566667,538000.0,0.06250,0.233333,0.167046,0.004072,0.4,0.0,0.5,...,0.199115,0.082988,0.443478,0.626263,0.908959,0.166113,0.222165,0.008027,1,0
2,0.568795,0.766667,180000.0,0.03125,0.066667,0.030372,0.005743,0.0,0.0,0.5,...,0.044248,0.000000,0.286957,0.136364,0.936143,0.237542,0.399415,0.008513,1,0
3,0.251157,0.566667,604000.0,0.09375,0.333333,0.120729,0.002714,0.0,0.0,1.0,...,0.075221,0.188797,0.565217,0.681818,0.586939,0.104651,0.165376,0.004996,1,0
4,0.197333,0.748718,510000.0,0.06250,0.200000,0.099468,0.004579,0.0,0.0,0.5,...,0.144912,0.000000,0.756522,0.368687,0.741354,0.393688,0.241094,0.007871,1,0

In [3]:
np.e

2.718281828459045

In [4]:
np.log(np.e)

1.0

In [14]:
np.log(-1.1)

/Users/noah/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

nan

In [31]:
np.log(4690)

8.453187861440325

In [25]:
np.e**x == 10

54.59815003314423

In [41]:
price = 10
hour = np.log(price)
np.log(price)

2.302585092994046

In [21]:
np.e**np.log(price)

10.000000000000002

In [22]:
price == hour*2

True

In [35]:
np.log(price) == hour

True

In [38]:
np.e**hour == price

False

In [42]:
np.e**hour

10.000000000000002

In [44]:
hour**np.e

9.651711337126581

In [47]:
price

10

In [40]:
np.log(price) == np.e**

2.302585092994046

In [43]:
hour

2.302585092994046

In [45]:
np.e**np.log(price)

10.000000000000002

In [46]:
np.e**hour

10.000000000000002